<header>
  <div
    style="
      display: flex;
      justify-content: space-between;
      padding: 0 30px;
      align-items: center;
      height: 70px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    "
  >
    <img
      src="../../assets/ivalueworkLogo.png"
      style="object-fit: contain"
      height="150"
    />
    <!-- <ul class="ListInheader">
      <li>
        <button
          type="button"
          class="btn registerButton"
          data-bs-toggle="offcanvas"
          data-bs-target="#staticBackdrops"
        >
          Register
        </button>
      </li>
      <li>
        <button
          type="button"
          class="btn loginButton"
          data-bs-toggle="offcanvas"
          data-bs-target="#loginForm"
        >
          Login
        </button>
      </li>
    </ul> -->
  </div>
</header>

<!-- <div
  class="offcanvas offcanvas-end"
  data-bs-backdrop="static"
  tabindex="-1"
  id="staticBackdrops"
  aria-labelledby="staticBackdropLabel"
  style="border-radius: 20px 0 0 20px"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="staticBackdropLabel">
      JobSeeker Free Registration
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div>Forms</div>
  </div>
</div>

<div
  class="offcanvas offcanvas-end"
  data-bs-backdrop="static"
  tabindex="-1"
  id="loginForm"
  aria-labelledby="staticBackdropLabel"
  style="border-radius: 20px 0 0 20px"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="staticBackdropLabel">
        Login
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div>Forms</div>
  </div>
</div> -->
