<div class="connectedWithUs">
  <div class="connect-container">
    <p style="margin: 0; font-weight: 600;">Get connected with us on social networks:</p>
    <div class="socialNetowrkImages">
      <img src="../../assets/image002.png" />
      <img src="../../assets/image003.png" />
      <img src="../../assets/image004.png" />
      <img src="../../assets/image005.png" />
    </div>
  </div>
</div>

<div class="footer-conatiner">
  <div class="footerSection">
    <div class="content-container">
      <div class="left-container">
        <img src="../../assets/ivalueworkLogo.png" class="imageFooter" />
        <p class="footer-all-right">© 2022 Copyright: IvalueWork.com</p>
      </div>

      <div class="first-container">
        <p class="headingForList">IVALUEWORK</p>
        <ul class="order-list-style">
          <li>About Us</li>
          <li>Terms and Conditons</li>
          <li>Privacy Policy</li>
        </ul>
      </div>

      <div class="first-container">
        <p class="headingForList">PRODUCTS</p>
        <ul class="order-list-style">
          <li>Employer Ivaluework</li>
          <li>Employee Ivaluework</li>
        </ul>
      </div>

      <div class="first-container">
        <p class="headingForList">CONTACT</p>
        <ul class="order-list-style">
          <li><i class="bi bi-envelope"></i> info@ivaluework.com</li>
        </ul>
      </div>
    </div>
  </div>
</div>
