<div class="main-container">
  <div class="traning-header">
    <em><h1>Soft skills</h1></em>
  </div>

  <div>
    <p class="styleForParagraph">
      Soft skills are the personal attributes and interpersonal skills that
      enable us to interact effectively and harmoniously with other people. They
      are essential for success in all areas of our lives, from our personal
      relationships to our professional careers.
    </p>

    <p class="style-for-second-paragraph">Some key soft skills include:</p>

    <ul style="list-style-type: none; padding: 0px; margin-left: 20px">
      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle">Communication</span>
      </li>

      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle">Teamwork</span>
      </li>

      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle">Critical thinking</span>
      </li>

      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle">Creativity</span>
      </li>

      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle">Adaptability</span>
      </li>

      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle">Leadership</span>
      </li>

      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle">Emotional intelligence </span>
      </li>

      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle">Time management </span>
      </li>

      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle">Stress management</span>
      </li>

      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle">Conflict resolution</span>
      </li>

      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle">Negotiation</span>
      </li>
    </ul>
  </div>

  <div class="spacingbetweendivision"></div>

  <div>
    <p class="styleForParagraph">
      Soft skills are becoming increasingly important in the workplace, as
      employers are looking for employees who can not only perform their
      technical duties, but also work effectively with others and contribute to
      a positive work environment.
    </p>

    <p class="style-for-second-paragraph">
      ivaluework offers a variety of training programs to help individuals
      develop their soft skills. These programs are designed to be interactive
      and engaging, and they cover a wide range of topics, including:
    </p>

    <ul style="list-style-type: none; padding: 0px; margin-left: 20px">
      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle"
          >Communication: How to communicate effectively in different
          situations, both verbally and in writing.
        </span>
      </li>

      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle"
          >Teamwork: How to work effectively with others to achieve common
          goals.
        </span>
      </li>

      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle"
          >Problem-solving: How to identify and solve problems
          effectively.</span
        >
      </li>

      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle">
          Critical thinking: How to think critically and make sound
          decisions.</span
        >
      </li>

      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle"
          >Creativity: How to think creatively and come up with new ideas</span
        >
      </li>

      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle"
          >Adaptability: How to adapt to change and new situations.</span
        >
      </li>

      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle"
          >Leadership: How to lead and motivate others.</span
        >
      </li>

      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle"
          >Emotional intelligence: How to understand and manage your own
          emotions, as well as the emotions of others.</span
        >
      </li>

      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle">
          Time management: How to manage your time effectively and meet
          deadlines.</span
        >
      </li>

      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle"
          >Stress management: How to manage stress and stay productive.
        </span>
      </li>

      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle"
          >Conflict resolution: How to resolve conflict effectively.
        </span>
      </li>

      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle"
          >Negotiation: How to negotiate effectively and get what you want.
        </span>
      </li>
    </ul>
  </div>

  <div class="spacingbetweendivision"></div>

  <div>
    <p class="styleForParagraph">
      ivaluework's training programs are delivered by experienced trainers who
      are experts in their field. The programs are also customized to meet the
      specific needs of each individual or organization.
    </p>
    <p class="style-for-second-paragraph">
      Here are some of the benefits of ivaluework's soft skills training
      programs:
    </p>

    <ul style="list-style-type: none; padding: 0px; margin-left: 20px">
      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle">
          Improved communication and interpersonal skills: ivaluework's training
          programs can help individuals develop their communication and
          interpersonal skills, which can lead to improved relationships and
          collaboration with others.
        </span>
      </li>

      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle"
          >Enhanced leadership and teamwork skills: ivaluework's training
          programs can help individuals develop their leadership and teamwork
          skills, which can lead to improved team performance and organizational
          success.
        </span>
      </li>

      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle"
          >Reduced stress and improved mental well-being: ivaluework's training
          programs can help individuals develop the skills they need to manage
          stress and improve their mental well-being, which can lead to
          increased job satisfaction and productivity.
        </span>
      </li>
    </ul>

    <p>
      Overall, ivaluework's soft skills training programs can help individuals
      and organizations achieve their goals by developing the skills needed to
      succeed in today's workplace.
    </p>
  </div>
</div>

<!--Second-->
<div class="main-container">
  <div class="traning-header">
    <em><h1>CV Writing Service</h1></em>
  </div>

  <div>
    <p class="styleForParagraph">
      A CV, also known as curriculum vitae, is a summary of your skills and
      experience that you submit to potential employers when applying for jobs.
      It is important to have a well-written CV that highlights your most
      relevant skills and experience, and that is tailored to the specific job
      you are applying for.
    </p>

    <p class="style-for-second-paragraph">
      ivaluework offers a variety of resources to help you write a strong CV,
      including:
    </p>

    <ul style="list-style-type: none; padding: 0px; margin-left: 20px">
      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle"
          >CV writing tips: ivaluework offers a variety of CV writing tips that
          can help you write a strong CV. These tips cover everything from how
          to choose the right CV template to how to format your CV and write
          effective bullet points.
        </span>
      </li>

      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle"
          >CV review service: ivaluework offers a CV review service where you
          can submit your CV for feedback from an experienced professional. This
          service can help you identify any areas where your CV can be improved.
        </span>
      </li>
    </ul>
  </div>

  <div class="spacingbetweendivision"></div>

  <div>
    <p class="style-for-second-paragraph">
      Here are some of the benefits of using ivaluework's CV writing resources:
    </p>

    <ul style="list-style-type: none; padding: 0px; margin-left: 20px">
      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle"
          >Save time and effort: ivaluework's CV templates and CV writing tips
          can help you save time and effort when writing your CV.
        </span>
      </li>

      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle"
          >Create a professional CV: ivaluework's resources can help you create
          a professional CV that will impress potential employers.
        </span>
      </li>

      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle"
          >Get feedback from an expert: ivaluework's CV review service can help
          you identify any areas where your CV can be improved.
        </span>
      </li>

      <li class="marginBetweenList">
        <i class="bi bi-check-circle iconsStyleAndColor"></i>
        <span class="iconsStyle"
          >Increase your chances of getting an interview: A well-written CV can
          increase your chances of getting an interview for the jobs you apply
          for.
        </span>
      </li>
    </ul>

    <p>
      Overall, ivaluework's CV writing resources can help you create a strong CV
      that will help you land your dream job.
    </p>
  </div>
</div>

<!--Three-->

<div class="main-container">
  <div class="traning-header">
    <em><h1>Training</h1></em>
  </div>

  <div>
    <p class="question-styling">What is job-oriented training?</p>
    <p class="style-for-second-paragraph-traning">
      Job-oriented training is a type of training that is designed to prepare
      you for a specific job or career. It can be provided by a variety of
      organizations, including schools, businesses, and government agencies.
    </p>
  </div>

  <div class="spacingbetweendivision"></div>
 
  <div>
    <p class="question-styling">What are the benefits of job-oriented training?</p>
    <p class="style-for-second-paragraph">Job-oriented training can provide a number of benefits, including:</p>
    <ul style="list-style-type: none; padding: 0px; margin-left: 20px">
        <li class="marginBetweenList">
          <i class="bi bi-check-circle iconsStyleAndColor"></i>
          <span class="iconsStyle">Increased job skills and knowledge: Job-oriented training can help you develop the skills and 
            knowledge you need to be successful in a specific job or career. 
            </span>
        </li>
  
        <li class="marginBetweenList">
          <i class="bi bi-check-circle iconsStyleAndColor"></i>
          <span class="iconsStyle"> Improved job prospects: Job-oriented training can improve your job prospects by making you more 
            marketable to potential employers. 
            </span>
        </li>
  
        <li class="marginBetweenList">
          <i class="bi bi-check-circle iconsStyleAndColor"></i>
          <span class="iconsStyle">Higher earnings potential: Job-oriented training can lead to higher earnings potential, as employers are 
            often willing to pay more for qualified employees. 
            </span>
        </li>
  
        <li class="marginBetweenList">
          <i class="bi bi-check-circle iconsStyleAndColor"></i>
          <span class="iconsStyle">Job satisfaction: Job-oriented training can help you find a job that you are passionate about and that 
            gives you a sense of satisfaction. 
            </span>
        </li>
      </ul>
  </div>

  <div class="spacingbetweendivision"></div>

  <div>
    <p class="question-styling">How can ivaluework help with job-oriented training?</p>
    <p class="style-for-second-paragraph-traning">ivaluework offers a variety of job-oriented training courses that can help you develop the skills and knowledge 
        you need to be successful in your chosen career. These courses are designed to be practical and relevant to 
        the current job market, and they are taught by experienced professionals. </p>
    <p class="style-for-second-paragraph">Here are some of the ways that ivaluework can help you with job-oriented training:</p>
   
    <ul style="list-style-type: none; padding: 0px; margin-left: 20px">
        <li class="marginBetweenList">
          <i class="bi bi-check-circle iconsStyleAndColor"></i>
          <span class="iconsStyle">Increased job skills and knowledge: Job-oriented training can help you develop the skills and 
            knowledge you need to be successful in a specific job or career. 
            </span>
        </li>
  
        <li class="marginBetweenList">
          <i class="bi bi-check-circle iconsStyleAndColor"></i>
          <span class="iconsStyle">Identify your career goals: ivaluework can help you identify your career goals and develop a plan to 
            achieve them.            
            </span>
        </li>
  
        <li class="marginBetweenList">
          <i class="bi bi-check-circle iconsStyleAndColor"></i>
          <span class="iconsStyle">Choose the right training program: ivaluework can help you choose the right training program for your 
            needs and goals.</span>
        </li>
  
        <li class="marginBetweenList">
          <i class="bi bi-check-circle iconsStyleAndColor"></i>
          <span class="iconsStyle">Provide high-quality training: ivaluework provides high-quality training that is taught by experienced 
            professionals.             
            </span>
        </li>

        <li class="marginBetweenList">
            <i class="bi bi-check-circle iconsStyleAndColor"></i>
            <span class="iconsStyle">Connect you with potential employers: ivaluework can help you connect with potential employers who 
                are looking for qualified employees.                             
            </span>
        </li>
      </ul>
  </div>

  <div class="spacingbetweendivision"></div>

  <div>
    <p class="question-styling">What are some job-oriented training courses that ivaluework offers?</p>
    <p class="style-for-second-paragraph">ivaluework offers a variety of job-oriented training courses, including:</p>
    <ul style="list-style-type: none; padding: 0px; margin-left: 20px">
        <li class="marginBetweenList">
          <i class="bi bi-check-circle iconsStyleAndColor"></i>
          <span class="iconsStyle">Software development
            </span>
        </li>
  
        <li class="marginBetweenList">
          <i class="bi bi-check-circle iconsStyleAndColor"></i>
          <span class="iconsStyle">Data science 
            </span>
        </li>
  
        <li class="marginBetweenList">
          <i class="bi bi-check-circle iconsStyleAndColor"></i>
          <span class="iconsStyle"> Digital marketing </span>
        </li>
  
        <li class="marginBetweenList">
          <i class="bi bi-check-circle iconsStyleAndColor"></i>
          <span class="iconsStyle">Project management       
            </span>
        </li>

        <li class="marginBetweenList">
            <i class="bi bi-check-circle iconsStyleAndColor"></i>
            <span class="iconsStyle">Customer service                             
            </span>
        </li>
        <li class="marginBetweenList">
            <i class="bi bi-check-circle iconsStyleAndColor"></i>
            <span class="iconsStyle">Sales                             
            </span>
        </li>

        <li class="marginBetweenList">
            <i class="bi bi-check-circle iconsStyleAndColor"></i>
            <span class="iconsStyle"> Accounting                            
            </span>
        </li>

        <li class="marginBetweenList">
            <i class="bi bi-check-circle iconsStyleAndColor"></i>
            <span class="iconsStyle"> Human resources                             
            </span>
        </li>

        <li class="marginBetweenList">
            <i class="bi bi-check-circle iconsStyleAndColor"></i>
            <span class="iconsStyle"> Office administration                             
            </span>
        </li>

        <li class="marginBetweenList">
            <i class="bi bi-check-circle iconsStyleAndColor"></i>
            <span class="iconsStyle"> Healthcare                            
            </span>
        </li>

        <li class="marginBetweenList">
            <i class="bi bi-check-circle iconsStyleAndColor"></i>
            <span class="iconsStyle">  Logistics                            
            </span>
        </li>

        <li class="marginBetweenList">
            <i class="bi bi-check-circle iconsStyleAndColor"></i>
            <span class="iconsStyle"> Manufacturing                            
            </span>
        </li>
      </ul>
      <p>By providing high-quality job-oriented training and connecting learners with potential employers, ivaluework 
        can help individuals achieve their career goals and businesses find the qualified employees they need to 
        succeed. </p>
  </div>
</div>
